<table class="table">
    <thead>
        <tr>
            <th scope="col">Track</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Margherita</td>
            <td>Tom Middleton</td>
            <td>Lifetracks</td>
            <td>
                <i class="fab fa-youtube"></i>
                <i class="fas fa-dollar-sign"></i>
                <i class="fas fa-cloud"></i>
            </td>
        </tr>
        <tr>
            <td>International</td>
            <td>Laidback</td>
            <td>International</td>
            <td>
                <i class="fab fa-youtube"></i>
            </td>
        </tr>
        <tr>
            <td>Love Movement - Ulrich Schnauss Remix</td>
            <td>Justin Robertson, Revtone, Ulrich Schnauss</td>
            <td>Unknown</td>
            <td>
                <i class="fab fa-youtube"></i>
                <i class="fas fa-dollar-sign"></i>
                <i class="fas fa-cloud"></i>
            </td>
        </tr>
        <tr>
            <td>Wanna Get Back Your Love - Mix 1</td>
            <td>Flayer</td>
            <td>Wanna Get Back Your Love</td>
            <td>
                <i class="fab fa-youtube"></i>
                <i class="fas fa-dollar-sign"></i>
            </td>
        </tr>
        <tr>
            <td>Loophole</td>
            <td>Concord Dawn</td>
            <td>Loophole/Hendrix</td>
            <td>
                <i class="fab fa-youtube"></i>
                <i class="fas fa-dollar-sign"></i>
            </td>
        </tr>
        <tr>
            <td>On and On</td>
            <td>Dymond, T-Sound</td>
            <td>All the Things/On and On</td>
            <td>
                <i class="fas fa-dollar-sign"></i>
            </td>
        </tr>
        <tr>
            <td>On The Road (Lekesch & Schekel Remix)</td>
            <td>Y.V.E. 48, Lekesch & Schekel</td>
            <td>On The Road (Remixes)</td>
            <td>
                <i class="fas fa-cloud"></i>
            </td>
        </tr>
    </tbody>
</table>

@code {


}
